.carroContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tituloLineaCarro{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
}

.btnSeguir{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #f7333f;
    border-radius: 10px;
    padding: 8px;   
    width: 80px;
    cursor: pointer;
    margin: 20px;
}
.textoVolver{
    margin: 0px;
    text-align:center;
}

.barraFlex{ 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 250px 1fr;
    grid-template-rows: 60px;
    background-color:#121212;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
    border-radius: 18px;
    padding: 20px;
    width: 1000px;
    
}
.textoTotal{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 4/5;
    font-size: 25px;
    color: white;
    margin-right: 50px;
}
.btnLimpiar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.limpiar{
    
    color: white;
    background-color: #f7333f;
    border-radius: 10px;
    padding: 10px;   
    width: 50px;
    cursor: pointer;
    
}

.carroVacioContenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}
.tituloCarroVacio{
    font-size: 50px;
}
.textoCarroVacio{
    font-size: 20px;
    text-align:center;
    margin: 0px;
}
.color{
    color: #f7333f;
    font-size: 23px;
    font-weight: bold;
}
.contenedorBtnCarro{
    display: flex;
}