.contenedorCarro{
    display: flex;    
    
    color: #121212;
    margin: 15px 30px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
    border-radius: 18px;
    
}

.carroContenedor{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: white;
    border-radius: 18px;
    padding: 20px;
    width: 1000px;
}
.textoCarro{
    display: flex;
    justify-content: center;
    align-items: center;
}
.item{
    margin-left: 10px;
    text-align: center;
    
}
.btnContenedor{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnBorrar{   
   cursor: pointer;
}
.btnBorrar:active{
    
    width: 45px;
    height: 45px;
}