.tarjetaDetalle{
    display: flex;
    justify-content: center;
    align-items: center;
}
.detalleContenedor{
    display: grid;
    grid-template-columns: 600px 300px;
    grid-template-rows: 510px 70px;
    background-color: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
}
.contador{
    grid-column:2/3;
}
.descripcion{
    padding: 0px;
}
.precio{
    font-size: 40px;
    color: black;
    margin: 0px 0px 30px 0px;
  
}
.textoDetalle{
   
    padding: 20px;
    border-left: 2px solid grey;
    
}
.textoDetalle h2{
    color: black;
   
}
.textoEnvio{
    border-radius: 15px;
    margin: 0px;
    padding: 5px;
}
.envio{
    color: green;
    padding: 0px;
    margin: 0px;
}
.logosTarjetas{
    display: flex;
}
.logosTC{
    margin-left: 20px;
}
.imagenProd{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.contenedorFinalizar{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px;
    background: #f7333f;
    cursor: pointer;    
}
.contenedorBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid white;
}
.finalizar1{
    color: white;
    font-size: 20px;
}
.finalizar2{
    color: white;
    font-size: 15px;
        
    
    
}