
.circulo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7333f;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    color: whitesmoke;
    font-size: 13px;
}
.carroFlex{
   display: flex;
   justify-content: center;
   
}