.listaDeProductos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px 40px;

}
.tituloLinea{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgLogo{
    margin-top: 30px;
}
.tituloToc{
    display: flex;
    
}
.titulo{
    
    font-size: 30px;
    margin-top: -15px;
    margin-bottom: 15px;
}
.linea{
    width: 60vh;
    height: 2px;
    background-color: black;
    margin: 0px 100px;

}
h4{
    padding: 0px 100px;
    color: black;
    margin-bottom: 50px;
}
.contenedorCategoria{
    display: flex;
    justify-content: center;
    align-items: center;
}
.iconoCategoria{
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
background-color: #31475e;
border-radius: 50px;
width: 100px;
height: 100px;
margin: 30px 100px ;
cursor: pointer;
}
.icono{
    margin-right: 5px;
}

.btnVista{
    display: flex;
    justify-content:flex-end;
    align-items:flex-end;
    
}
.btn{
     color: white;
     background-color: #f7333f;
    border-radius: 10px;
    padding: 10px;   
    width: 80px;
}

a{
    margin: 0px;
}