.tarjeta{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardContenedor{
   
    display: grid;
    grid-template-columns: 330px;
    grid-template-rows: 210px 150px 100px;
    border-bottom-right-radius: 18px;
    border-bottom-left-radius: 18px;
    background-color: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
    text-align: center;
    margin:20px;
}

.cardTexto{
    color: grey;
    padding: 8%;
    
}
.cardTexto h2{
    color: black;
}
.btnDetalle{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.btnDetalle div{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #f7333f;
    border-radius: 10px;
    padding: 10px;   
    width: 80px; 
    
}

a{
    text-decoration: none;
}
