.menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color:#121212;
    margin: 20px 100px;
    border-radius: 10px;
}

nav ul{
    display: flex;    
    list-style: none;
    margin-right: 90px;
}
nav ul li{           
    text-decoration: none;
    color: whitesmoke;
    padding-left: 40px;
    cursor: pointer;
}


.logoToc{
    display: flex;    
    margin-left: 0px;

}

.iconoCarro{
    display: flex;
    margin-right: 0px;
    cursor: pointer;
   
}

