*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.contenedorInicio{
  margin: 0px;
  padding: 0px;
}
.titulo1{
  position: absolute;
  top: 20%;
  left: 10%;
  font-size: 35px;
  
}
.titulo2{
  position: absolute;
  top: 25%;
  left: 10%;
  font-size: 40px;
}
.titulo3{
  position: absolute;
  top: 43%;
  left: 10%;
  font-size: 20px;
}
.box1{
  width: 100%;
  height: 700px;
  clip-path: polygon(60% 0%, 40% 100%, 100% 100%, 100% 0%);  
}
.box1 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;  
}
.textoCentrado{
  position: absolute;
    top: 60%;
    left: 10%;
    right: 70%;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  font-size: 3rem;  
}


.contenedorInfo{
background-color: rgb(233, 233, 233);
padding: 20px 10%;
margin: 0px;
}
.subtitulo1{
  font-size: 40px;
  text-align: center;
  padding: 30px;  
}
.textoInfo{
  padding: 0 11% ;
  text-align: center;
}
.contenedorCuadrados{
  display: flex;
  justify-content: space-around;
  margin: 30px 0px;
  
}
.cuadrados{
  width: 150px;
  height: 150px;
  background-color: white;
  border-radius: 10px;
}


/*Seccion imagenes*/
.textosImg{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20%;
}
.texto1{
  margin-bottom: 15px;
  text-align: center;
}
.imagenes{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;  
  width: 100%;
  flex-wrap: wrap;
}
.contenedorGrupo{
  display: flex;
  padding: 40px 20px 0px 20px;
}
.contenedorGrupo2{
  display: flex;
  padding: 0px 20px 0px 20px;
}
.grupo1, .grupo2, .grupo3{
  position: relative;
  display: inline-block;
}
.tituloImg{
  display: none;
  transition: all .8s;
  position: absolute;
  top: 20%;
  left: 23%;
  font-size: 25px;
  color: rgb(46, 46, 46);  
}
.descripcionImg{
  display: none;
  transition: all .8s;
  position: absolute;
  top: 30%;
  left: 10%;
  font-size: 18px;
  color: rgb(46, 46, 46); 
}
.grupo1:hover > .tituloImg{
  display: block;
  
}
.grupo1:hover > .descripcionImg{
  display: block;
  
}
.grupo1:hover > .img1{
  opacity: 0.2;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
}
.img1, .img2, .img3, .img4, .img5{
  width: 350px;
  margin: 5px;
}


.tituloImg2{
  display: none;
  transition: all .8s;
  position: absolute;
  top: 20%;
  left: 23%;
  font-size: 25px;
  color: rgb(46, 46, 46);  
}
.descripcionImg2{
  display: none;
  transition: all .8s;
  position: absolute;
  top: 30%;
  left: 10%;
  font-size: 18px;
  color: rgb(46, 46, 46); 
}
.grupo2:hover > .tituloImg2{
  display: block;
  
}
.grupo2:hover > .descripcionImg2{
  display: block;
  
}
.grupo2:hover > .img2{
  opacity: 0.2;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
}


