
.cardBoton{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 70px;
    
    
    background: #f7333f;
    cursor: pointer;    
}

.signo{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0px;
    color: white;
    font-size: 30px;
    border-right: 1px solid white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 35px;
}
.signo:active{
    background: #b3262f;
    border-bottom-left-radius: 15px;
    font-size: 45px;
}
.signo2{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0px;
    color: white;
    font-size: 30px;
    border-left: 1px solid white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}
.signo2:active{
    background: #b3262f;
    border-bottom-right-radius: 15px;
    font-size: 35px;
}

.agregarCarrito{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}
.agregarCarrito:active{
    background: #b3262f;
}
.contador{
    font-size: 20px;
    margin: 0px;
    color: white;
}

.texto{
    font-size: 15px;
    margin: 0px;
    color: white;
}
